
<div class="signup1">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Are you?</strong></div>
    <div class="panel-body">
      <form action="/signup" method="POST">
      <label><input type="radio" id="account" name="user" value="user" checked /> A volunteer</label>
      <label><input type="radio" id="account" name="user" value="nHome" /> A nursing home</label>
      <div class="form-group">
          <label for="fullname">Name</label>
          <input type="text" class="form-control" id="fullname" placeholder="Ema Brown" name="fullname">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="email" class="form-control" id="username" placeholder="emab@gmail.com" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="••••••••••••" name="password">
        </div>
       <!--  <input type="text" id="account" class='hidden' name="account" value="user"> -->
        <!-- <% if (typeof(message) != "undefined") { %> -->
          <!-- <div class="alert alert-danger" role="alert"><%= message %></div> -->
        <!-- <% } %> -->
        <% if ( message != "" ) { %>
          <div class="alert alert-danger" role="alert"><%= message %></div>
        <% } %>
        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
      </form>
    </div>
  </div>

</div>
