
<section id="content">
<div class="content-main">
      <p class="h1 h1-custom" >Offer your time and improve seniors life</p>
      <p class="h3">Offering talents and good conversation</p>
      <p>Become a volunteer or register your institution</p>
      <p>here: <a href="/signup">Sign up</p>
</div>
</section>
  <!-- <section class="social-media">
    <ul>
      <li><img src="images/facebook.svg" alt="Facebook"></li>
      <li><img src="images/instagram.svg" alt="Instagram"></li>
      <li><img src="images/twitter.svg" alt="Twitter"></li>
    </ul>
  </section> -->
      <p class="copyright">&copy; 2017 Petra Spirkova & Arkadiusz Milewski.</p>
