
<section id="content">
<div class="bck-image">
  <div class="content-main">
        <p class="h1 h1-custom" >Offer your time, improve a seniors life</p>
        <p class="h3">Offering talents and good conversation</p>
        <p>Become a volunteer or register your institution</p>
        <button id="btn"> <a href="/signup">Sign up</button>
        <div class="stripe">
          <div class="copy-div">
            <p class="copyright">&copy; 2017 Petra Spirkova & Arkadiusz Milewski.</p>
          </div>
        </div>
  </div>

  </div>

  </section>
