<section id="content">
<div class="content-main">
      <p class="h1 h1-custom" >Offer your time, improve a seniors life</p>
      <p class="h3">Offering talents and good conversation</p>
      <p>Become a volunteer or register your institution</p>
      <p>here: <a href="/signup">Sign up</p>
</div>
</section>
  <p class="copyright">&copy; 2017 Petra Spirkova & Arkadiusz Milewski.</p>

