<div>
<img class="background-img" src="https://thecompleteherbalguide.com/wp-content/uploads/2016/09/happy-seniors.jpg">
  <h1><%= title %></h1>
  <p>Share your time with a people who need it! <%= title %></p>
</div>
