<!-- /* code for the map.ejs fle*/  -->


<html>
  <head>
    <title>My First Map</title>
  </head>
  <body>
    <h3>Find us!</h3>
    <div id="map"></div>
    <div>
      <!-- <h1><%= title %></h1>
      <h3>Don't be indifferent and find out how you can help!</h3>
    </div> -->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7vXyvsKLbTZp0OXfVs3cF_b1kG32LwXc">
    </script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
