<% if(user.role === "user"){ %>

<!-- <p>"http://localhost:3000/editProfile"</p> -->

  <h1>Welcome <%= user.fullname %> </h1>
<% } else{ %>  





   <h1>Welcome nursing home<%= user.fullname %> </h1>
<% } %>

