<% if(user.role === "user"){ %>

  <h1>Welcome <%= user.fullname %> </h1>

  <a href="http://localhost:3000/where-we-work">Where we work</a>
  <a href="http://localhost:3000/editProfileUser">Edit your profile</a>
  <img src="<%= user.imageUrl %>">

<% } else{ %>  

   <h1>Welcome <%= user.fullname %> </h1>

   <p><a href="http://localhost:3000/volunteersDatabase">See available volunteers</p>
   

   <a href="http://localhost:3000/editProfileUser">Edit your profile</a>
<% } %>

