<!DOCTYPE html>
<html>
  <head>

    <title> Profile site</title>
  </head>
  <body>
    <% if(user.role === "user"){ %>

      <h1>Welcome <%= user.fullname %> </h1>

      <a href="http://localhost:3000/where-we-work">Where we work</a>
      <a href="http://localhost:3000/editProfileUser">Edit your profile</a>

    <% } else{ %>

       <h1>Welcome <%= user.fullname %> </h1>

       <p><a href="http://localhost:3000/volunteersDatabase">See available volunteers</p>


       <a href="http://localhost:3000/editProfileNhome">Edit your profile</a>
    <% } %>

  </body>
</html>
