    <h3>Find the closest place from your home!</h3>
    <div id="map"></div>
    <div>
      <!-- <h3>Don't be indifferent and find out how you can help!</h3> -->
    </div>
    <div id="nursingHome">

    </div>

    <div id="contact" >

    </div>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7vXyvsKLbTZp0OXfVs3cF_b1kG32LwXc">
    </script>
    <script type="text/javascript" src="main.js"></script>
