/*body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
.main {
	padding-top: 50px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-muted {
	margin: 20px 0;
}

.login {
	width: 380px;
	padding-top: 50px;
	margin: 0 auto;
}

<<<<<<< HEAD
.background-img {
	position: absolute;
	width: 100%;
	height: 700px;

}

#map {
 height: 500px;
 width: 100%;
}
=======

.signup1 {
	display: inline-block;
	width: 380px;
	padding-top: 50px;
	margin: 40px 50px 0 80px;
}

.signup2 {
	display: inline-block;
	width: 380px;
	padding-top: 50px;
	margin: 40px 50px 0 80px;
}

.h1-custom {
	margin-top: 70px;
}

.social-media {
	background: #67BCDB;
	color: #fafafa;
	display: block;
	height: auto;
	min-height: 50px;
	overflow: hidden;
	text-align: center;
	width: 100%;
}

.social-media ul {
	clear: left;
	float: left;
	left: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}

.social-media li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}

.social-media ul li img {
	margin: 20px;
}


.copyright {
	font-size: 15px;
	font-style: italic;
	margin: 50px 0 0 0;
	text-align: center;
	width: 100%;
}
}
>>>>>>> 2e8d24e0803d0b433dd595e448fc24e87df3c9f8
